.content-holder {
  img {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.loader {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

p,
ol {
  + h2 {
    margin-top: 2rem;
  }

  + h3 {
    margin-top: 2rem;
  }
}

h2 {
  margin-top: 3rem;

  & + h3 {
    margin-top: 2rem;
  }
}
